* {
    color: var(--fontColor);
    font-family: helvetica;
}

body {
    background: var(--bg);
}


:root {
    --green: #00FF00;
    --white: #ffffff;
    --black: #000000;
}

ul {
    font-family: helvetica;
}

li {

    list-style: circle;
}

.list {

list-style: square;

}

#msg {

font-family: monospace;

}

.light-theme {

    --fontColor: var(--black);
    
    --bg: var(--green);
    
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
}

